.container {
    display: flex;
    gap: 100px;
    margin: 2em 8em;
  }
  
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 2em 2em;
  }
  
  .subtitle{
    color:var(--btn);
    font-size: 44px;
    line-height: 1.2;
    margin: 0 3.4em;
  }
  
  .title{
    font-size: 34px;
    line-height: 1.2;
  }
  
  .desc{
    font-size: 20px;
    font-weight: 300;
  }
  
  .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .box{
    display: flex;
    flex-direction: column;
  }
  
  .box h1{
    color: var(--btn);
    // gap: 10px;
  }
  
  .imgContainer {
    flex: 1;
    position: relative;
  }
  
  .img{
    // object-fit: contain;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  
    .boxes{
      flex-direction: column;
      gap: 50px;
    }
  }