.container{
    height: 10vh;
    width: 100%;
    margin: auto;
    padding: 0 2.8em;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-size: 30px;
    font-weight: bold;
  }