.container{
    height: 7vh;
    width: 100vw;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-size: 30px;
    font-weight: bold;
  }